
<% for tweet in @tweets %>
<blockquote class="twitter-tweet"><p>
  <p><%= tweet.text %> </p> &mdash; <%  tweet.user.name %>
  <a href="https://twitter.com/twitterapi/status/<%= tweet.id %>">a</a>"
</blockquote>
 
<% end %>

<script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>